<div class="nav-container">
    <a href="/event">
        <button type="button" value="Home" name="HomeButton">
            <i class="fa fa-home" aria-hidden="true"></i>
            首頁
        </button>
    </a>

    <a href="/user">
        <button type="button" value="Profile" name="ProfileButton">
            <i class="fa fa-user" aria-hidden="true"></i>
            我的資訊
        </button>
    </a>

    <a href="/select-service">
        <button type="button" value="SelectService" name="SelectLearningButton">
            <i class="fa fa-hand-o-up" aria-hidden="true"></i>
            選擇服務學習
        </button>
    </a>

    <a href="/logout">
        <button type="button" value="Logout" name="LogoutButton">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            登出
        </button>
    </a>
</div>