<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <base target="_top"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/profile.css"/>
</head>
<body>
<header>
    <h1>我的資訊</h1>
    <h3 id="username"></h3>
</header>

<%- include('navbar') %>

<div id="info-box">
    <div class="container">
        <p id="name">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            姓名：<span id="username-span"></span>
        </p>
        <p id="student-id">
            <i class="fa fa-id-card" aria-hidden="true"></i>
            學號：<span id="student-id-span"></span>
        </p>
        <p id="email">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            Email：<span id="email-span"></span>
        </p>
        <p id="phone">
            <i class="fa fa-phone" aria-hidden="true"></i>
            手機：<span id="phone-span"></span>
        </p>
    </div>

    <div class="table-container">
        <table id="my-service">
            <caption>已選服務學習</caption>
            <tr>
                <th>活動名稱</th>
                <th>服務學習日期</th>
                <th>服務學習地點</th>
                <th>服務學習時數</th>
                <th>備註</th>
            </tr>
        </table>
    </div>

    <div id="popping-loading" class="popping-loading">
        <p>載入中...</p>
    </div>

    <div id="empty-event" style="display: none">
        尚未選擇任何服務學習
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/profile.js"></script>
</body>
</html>