<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form id="signUpForm">
      <h1>Create Account</h1>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" id="name" name="name" required />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Student ID" id="student-id" name="studentid" required />
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <input type="tel" class="form-control" placeholder="0900-123-456" id="phone" name="phone" pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}" required />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" id="password" name="password" required />
      </div>
      <button type="button" class="btn btn-primary" id="btnSignUp">Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form id="signInForm">
      <h1>Sign in</h1>
      <div class="form-group">
        <input type="text" class="form-control" name="studentid" placeholder="Student ID" required />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" required />
      </div>
      <button type="button" class="btn btn-primary" id="btnSignIn">Sign In</button>
      <span id="message" class="text-danger"></span>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost btn btn-outline-light" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start your journey with us</p>
        <button class="ghost btn btn-outline-light" id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/login.js"></script>
</body>
</html>